/* IDENTIFIERS */


/* index.html */
#text-container {
    margin: 6vw;
}
#top-container {
    text-align: center;
}
#title {
    font-size: 1.5rem;
}
#options-button {
    background: linear-gradient(90deg, rgba(122,25,248,1) 0%, rgba(211,0,239,1) 100%);
    font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
    #text-container {
        font-weight: 300;
        font-size: 24px;
    }
    #top-container {
        text-align: left;
    }
    #title {
        font-size: 2.5rem;
        text-align: left;
    }
    #options-button {
        font-size: 1.44rem;
    }
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* options.html */
#ETLT-logo {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    width: 100%;
}
#ETLT-link {
    color: #FEA400;
}
#ETLT-link.hvr-underline-reveal:before {
    background: #FEA400;
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
    #ETLT-logo {
        width: auto;
    }
}
#map {
    width: 100%;
    height: 80vh;
}
#map-button {
    background: linear-gradient(90deg, rgba(114,12,247,1) 11%, rgba(211,0,239,1) 100%);
    font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
    #map-button {
        font-size: 1.44rem;
    }
}